.discordContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contentContainer {
    text-align: center;
    padding: 2rem;
    border-radius: 1rem;
}

.discordIframe {
    width: 100%;
    height: 40rem;
    max-width: 35rem;
}