.infinite-slider-container {
    position: relative;
    width: 100%;
    height: 5rem;
    overflow: hidden;
}

.infinite-slider-inner {
    display: flex;
    height: 100%;
}

.infinite-slider-slide {
    flex-shrink: 0;
    width: 16.6667%;
}

.infinite-slider-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.infinite-slider-content img {
    height: 100%;
}